*{

}

.fotoUsuario{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.posts{
    width: 80%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid ;
}